*,
*::before,
*::after {
  box-sizing: border-box;

     margin: 0; 
     box-sizing: border-box;
     padding:0;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
}

/* HOME PAG */
.white-div{
    background-color: white;
    width:100%;
    height:50vh;
    position:relative;
  
}


.mar{
    width: 30%;
    position:absolute;
    bottom:0;
    left: 50%; 
    transform: translateX(-50%)
}

.front-colorful-div{
    background: linear-gradient(97.47deg, #94DFBD 0%, #2882B0 99.68%);
    position: relative;
    width:100%;
    height:50vh;
}

.cia{
    position: flex;
    position: absolute;
    width: 30%;
    left: 50%;
    transform: translateX(-51%) 
}

/* FLIP HOME-PAG */

/* .home-pag{

    background: linear-gradient(97.47deg, #94DFBD 0%, #2882B0 99.68%);
    width:100%;
    height:100vh;
    position: relative;
}  */



/***** CONTACT PAG *****/
:root{
    --clr--deg:linear-gradient(97.47deg, #94DFBD 0%, #2882B0 99.68%);
    --shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --ff: Roboto Mono;
    --fw--reg: 300;
    --fs--body: 18px;
    --menu-speed: 0.75s;
}
.contact-body{
    background: linear-gradient(97.47deg, #94DFBD 0%, #2882B0 99.68%);

}
.col-form-contact{
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-align-left, .fa-user, .envelope-icons  {
    color: white;
    font-size: 2.3vh;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    padding-left:10px;
} 
.fa-align-left{
    padding-top:22px ;
}
.contacth2, .contactp, ::placeholder{
    color: white;
    font-family: Roboto Mono;
    letter-spacing: 3px;
    text-transform: uppercase; 
    text-shadow: var(--shadow);
}
.contacth2{
    font-size: 55px;
    margin-top: 9vh;
    margin-left: 20vh;
    margin-right: 5vh;
    margin-bottom: 1vh;
}
.contactp{
    font-size: 18px;
    margin-top: 1vh;
    margin-left: 20vh;
    margin-bottom: 5vh;
    margin-right: 5vh;
}
::placeholder{
    font-size: 18px;
}
input , .textbox-contact{
    color: white;
    border: none;
    border-bottom: 1px solid white;
    background: none;
    outline:none;
    letter-spacing : 3px;
    font-size: 18px;
    width: 75%;
    margin: 20px 0 20px 0;
    padding-left: 45px;
    position: relative;
}
.input-div{
    margin-left: 20vh;
    margin-right: 5vh;
    display: flex;
    justify-content: flex-start;
    padding: 20px 0px 20px 0px;
}
.input-div-btn{
    display: flex;
    justify-content: left;
    margin-left: 20vh;
    margin-right: 5vh;
}
.textbox-contact{
    resize: none;
    overflow:hidden;
    
}
.container2{
    padding: 3vh 0vh 4vh 0vh;
}
.col-icons-contact{
    display: flex;
    justify-content: center;   
}
.icons-col{
    color: white;
}
.icons-col:hover{
    color: #012334;
}
.contact-iten-list{
    list-style: none;
}
.contact-iten-link{
    font-size: 5vh;
    padding: 3vh;
}
.btn-contact{
    outline: none;
    background: linear-gradient(90.64deg, #8DD9BC 0%, #59ACB6 99.89%);
    border: 1px solid rgba(255, 255, 255, 0.04);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: white;
    outline: none;
    font-family: var(--ff);
    letter-spacing: 3px;
    width: 50%;
    padding: 10px;
    font-size: 18px;
}
.btn-contact:hover{
    background:  none;
    background: linear-gradient(90.64deg, #8DD9BC 0%, #59ACB6 99.89%);
    border: 1px solid rgba(255, 255, 255, 0.04);
    box-sizing: border-box;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
@media(max-width:600px){
    .btn-contact{
        width: 100%;
        font-size: 15px;
        margin-top: 1vh;
        margin-bottom: 2vh;
    }
    .input-div-btn{
        margin-left:1vh;
        margin-right:1vh;
        justify-content:center;    
    }
    .contacth2{
        font-size: 45px;
        margin-top: 2vh;
        margin-left: 2vh;
        margin-right: 2vh;
        margin-bottom: 2vh;
        justify-content:center;
        display: flex;
    }
    .contactp{
        margin-top: 1vh;
        margin-left: 2vh;
        margin-right: 2vh;
        margin-bottom: 5vh;
        font-size: 18px;
    }
    input , .textbox-contact{
        width: 100%;
    }
    .fa-align-left, .fa-user, .fa-envelope { 
        padding-left:10px;
    }
    .fa-align-left{
        padding-top:22px ;
    }
   .input-div{
       padding: 20px 0px 20px 0px;
       margin-left:1vh;
       margin-right:1vh;
    }
    .col-form-contact{ 
        display: flex; 
    }
    .footer-2021name{
        font-size: 15px;  
    }
    .col-icons-footer{       
        padding:1vh 0vh 1vh 0vh;
    }
}
footer{
    background: rgba(0, 0, 0, 0.18);
    border: 1px solid rgba(255, 255, 255, 0.04);
    box-sizing: border-box;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 3vh 3.5vh 3vh 3.5vh;
    color: white;
    font-family: var(--ff);
    text-transform: uppercase;
    letter-spacing: 3px;
}

 .footer-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
} 
.col-icons-footer{
    display: flex;
   justify-content: center;
}
.contact-iten-list-footer{
    list-style: none;
}
.contact-iten-link-footer{
    font-size: 3vh;
    padding: 2vh;
}
.footer-2021-name{
    margin-bottom: 0rem;
    font-size: 1.9vh;
}
/* .footer-2021-name:hover{
    color: darkblue;
} */
.footer-2021{
    display: flex;
    align-items: center;
}


/************** ABOUT ME ******************/
body{
    transition: all 0.5s ease;
}
.aboutMe-body{
    /* background: #FBFBFB;  */
    background:white;
   
}
.row-aboutMe{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.text-aboutMe-div{
    display: flex;
    flex-direction: column;
}
.title-aboutMe, .text-aboutMe{
    font-family: var(--ff);
    letter-spacing: 3px;
    color:#4E4A4A;
    text-transform: uppercase;
    margin: 1vh 3vh 1vh 20vh;
}
.title-aboutMe{
    border-bottom: 1.5px solid #4E4A4A;
    font-size: 7vh;
    margin-bottom: 4vh;
    font-weight: 900;
}
.text-aboutMe{
    font-size: 3vh;
    font-weight: 700;
}

.img-aboutMe-div{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.img-aboutMe{
    height: 90vh;
}
@media(max-width:600px){
    .title-aboutMe{
        margin: 10vh 2vh 1vh 2vh;
        font-size: 4vh;
    }
    .text-aboutMe{
        margin: 1vh 2vh 2vh 2vh;
        font-size: 2vh
    }
    .row-aboutMe{
        flex-direction: row;
    }
    .img-aboutMe{
        height: 15vh;
    }
}

/* ABOUT ME ---- SELF-TAUGHT----WORK--EDUCATION */
.bg-active{
    background: #012334;
    color: white;
}
.bg-active-2{
    background :#1b1b1b ;
  
}
.aboutMe-body-container{
    /* border: 5px solid  red; */
    color: white;
    font-family: var(--ff);
    letter-spacing: 3px;
    text-transform: uppercase;
    display: flex;
    box-sizing: border-box;
}
.row-aboutMe-2{
    display: flex; 
    align-content: center;
    padding-top: 12vh;
    padding-bottom:4vh;
    padding-left: 20vh;
    box-sizing: border-box; 
}
.col-about-self{
    display: flex;
    flex-direction: column; 
    font-size: 2vh;
    padding: 2vh;
    margin: 3vh;
}
.title-self, .title-work{
    margin-bottom:10vh;
    padding-bottom: 0.5vh;
    border-bottom: 2px solid white;
    letter-spacing: 5px;
}
.title-education{
    font-weight:900;
    font-size: 5vmax;
}
.experience-div {
    margin-top: 15vh;
    margin-left: 20vh;
    padding-left: 5vh;
    border-bottom: 1.5px solid white;
   
  

}

.name-education, .name-work-2, .name-education-2, .text-self{
    padding-left: 2vh; 
    letter-spacing: 3px;
    font-size: 4.5vh;
  
}
.text-work-2, .text-education, .text-education-2{
    padding-left: 6vh;
    padding-top: 2vh;
}
.date-work, .date-education-2, .date-education{
    text-align: end;
    font-weight: 700;
    padding-bottom: 5vh;
    padding-top: 2vh;
}
.col-about-work{
    /* border: 5px solid green; */
    display: flex;
    flex-direction: column;
    font-size: 2vh; 
    padding: 2vh;
    margin: 5vh;
}
.col-about-education{
    /* border: 5px solid pink; */
    display: flex;
    flex-direction: column;
    font-size: 3vh;
    padding: 2vh;
    margin: 15vh 5vh 5vh 30vh ;
}
.half-div-about{
    display: flex;
    flex-direction: column;
}
.col-about-education{
  text-align: end;

} 

@media(max-width:600px){
    .row-aboutMe-2{
        padding-top: 5vh;
        padding-bottom:4vh;
        padding-left: 0vh;
        padding-right: 1vh;
        margin: 0;
    }
    .col-about-self{
        margin: 0vh;
        margin-left: 1vh;
        padding: 0vh;
    }
    .col-about-work, .col-about-education{
        margin-left: 0vh;
        margin-right: 0vh;
    }
    .name-education, .name-work-2, .name-education-2{
        font-size: 3vh;
        margin-top: 3vh;
        font-weight: 900;        
    }
    .text-work-2, .text-education, .text-education-2{
        padding-left: 2vh;
        font-size:1.2;
    }
}
h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 700 !important;
    line-height: 1.2;
}


/******SKILLS ***********/

.skills-container{
    color: white;
    font-family: var(--ff);
    letter-spacing: 3px;
    text-transform: uppercase;
    display: flex;
    box-sizing: border-box;
}
 
/* .row-skills{
    border: 5px solid red;
}
.col-skills{
    border: 5px solid blue;
} 
 .col-skills-2{
    border: 5px solid green;
 }
 */


.phase-skills{
    margin: 10vh 18vh 5vh 25vh;
    font-size: 2.2vh;
    line-height: 1.5; 
}
.myName-skills{
    margin: 1vh 5vh 5vh 22vh;
    text-align: end;
    font-size: 2.2vh;
}
.tittle-skills{
    margin-top: 15vh;
    margin-left: 20vh;
    padding-left: 5vh;
    border-bottom: 1.5px solid white;
    font-size: 10vh;
}
.name-skills, .name-skills-2{
    margin: 7vh 5vh 2vh 5vh;
    text-align: end;
}
.about-skills, .about-skills-2 {
    margin: 1vh 5vh 3vh 45vh;
    text-align: end;
}
.about-skills{
    border-bottom: 1px solid white;
    padding-bottom: 3vh;

}
.about-skills-2{
    padding-bottom: 8vh;
}

@media(max-width:600px){
    .phase-skills{
        margin: 10vh 2vh 2vh 3vh;
        font-size: 2vh;
    }
    .myName-skills{
        margin: 3vh 2vh 1vh 1.5vh;
        font-size: 2.2vh;   
    }
    .tittle-skills{
        font-size:5vh;
        margin: 15vh 1vh 2vh 1vh;
        padding-left: 0vh;
    }
    .about-skills, .about-skills-2{
        margin: 1vh 2vh 5vh 5vh;
    }
    .name-skills, .name-skills-2{
        font-size: 3vh;
    }
}

/*******Projects Page**********/
.projects-container{
    color: black;
    font-family: var(--ff);
    letter-spacing: 3px;
    text-transform: uppercase;
    display: flex;
    box-sizing: border-box;
    margin: 0 500px;
    background: white;
}

.row-projects{
    display: flex;
}
.col-projects-2{
    padding: 50px 100px 100px 100px;
}
.img-pro1, .img-pro2 {
    width: 30%;
}
.title-projects , .title-projects-2{
     font-weight: 600;
} 
.title-projects{
    margin: 15vh 10vh 1vh 50vh;
    border-bottom: 1px solid black;
    text-align: end;
    padding-bottom:1vh;
}
.title-projects-2{
    margin-right: 10vh;
    transform: rotate(180deg); 
}
.text-projects{
    margin: 6vh 55vh 10vh 10vh;
    font-weight: 600;
    font-size: 2.5vh;
}

@media(max-width:600px){
    .title-projects{
        margin: 15vh 1vh 1vh 1vh ;
    }
    .title-projects-2{
        margin: 1vh;
    }
    .text-projects{
        margin: 5vh 10vh 8vh 2vh;
        font-size: 2vh;
    }
    .div-btn-projects{
        display: flex;
        justify-content: flex-end;
        margin-right: 2.5vh;
        margin-top: 8vh;
        margin-bottom: 3vh;  
    }
    .col-projects-2{
        padding: 30px 20px 50px 20px;
        display: grid; 
        justify-content : center;
        grid-gap: 2.5rem;
    }
}
@media(min-width:600px){
    .col-projects-2{
        grid-template-columns: repeat(3, 1fr);
        display: grid; 
        justify-content : center;
        grid-gap: 3rem;  
   }
}

.portfolio-item {
    overflow: hidden;  
}
.portfolio__img {
    transition:transform 750ms cubic-bezier(.5, 0, .5, 2),
    opacity 250ms linear;
}
.portfolio__img:hover {
    transform: scale(1.2);
    opacity: 0.8;  
}
img{
    display: block;   
    max-width: 100%;
    position: relative;
}

/***********HOME PAGE***********/
.home-bg{
    background: linear-gradient(250.05deg, #8FDBBC 7.52%, #22ADEE 100%);
    height: 100vh;
}
.circle-home{
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    height:100vh;
    top: 10vh;
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1.5s;
}
@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.img-home{
    height:95vh; 
    top: 6vh;
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}
@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.title-home{
    position: absolute;
    margin-left: 24vh;
    margin-top:25vh ;
    z-index: 999;
}
.title-home-2{
    position: absolute;
    margin-left: 25vh;
    margin-top:57vh ;
    z-index: 999;
    background-color: white;
    padding-top: 15px;
    padding-right: 50px;
    padding-left: 20px;
}
.text-intro{
    font-family: var(--ff);
    letter-spacing: 3px;
    text-transform: uppercase;
    color: white;
    font-size: 12vh;
    font-weight: 800;
}
.wreapper{
    display: flex;
    line-height: 90px;
    overflow: hidden;
    color: #fff; 
}
.dynamic-txts li {
    font-family: var(--ff);
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #4E4A4A;
    list-style: none;
    position: relative;
    font-weight: 600;
    font-size: 3vh;
    overflow: hidden;
    animation: slide 12s steps(4) infinite;
}
  .dynamic-txts li span{
  position: relative;
  line-height: 0px;
}
.dynamic-txts li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #ffffff;
    border-left: 2px solid #4E4A4A;
    animation: typing 3s steps(20, end) infinite; 
  }
   @keyframes typing {
    40%, 60%{
      left: calc(100% + 30px);
    }
    100%{
      left: 0;
    } 
  }  
  ul, ul {
    padding-left: 0rem !important; 
}
.row{
    --bs-gutter-x: 0rem !important;
}
@media(max-width:600px){
    .img-home{
        height:40%;
        left: 20vh;
        top: 45vh;
    }
    .title-home{
        margin-left: 7vh;
        margin-top:18vh ;
    }
    .title-home-2{
        margin-left: 5vh;
        margin-top:36vh ;
    }
    .text-intro{
        font-size: 6.5vh;
        font-weight: 800;
    }
    .text-intro-2{
        font-size: 3.5vh;
        font-weight: 500;
    }
    .circle-home{
       left: 0;
    }
    img{
        max-width: 150%;
    }
}
/* Burger menu */
:root {
    --clr-primary:  #012334;
    --clr-dark: #333;
    --clr-neutral: #ddd;
    --clr-light: #fff;
  }
.nav {
    background: var(--clr-primary); 
    position: absolute;
    left: 0;
    transform: translateX(-100%);
    transition: transform 300ms cubic-bezier(.5, 0, .5, 1);
    z-index: 99999;
  }
  .nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh; 
  }
  .nav__item {
    margin-bottom: 3em;
  }
  .nav__link {
    text-decoration: none;
    color: white;
  }
  .nav__link:hover {
    text-decoration: underline;
    color: #c3c3c3;
    font-weight: 600;
  }
  .nav__toggle {
    position: absolute;
    top: 3em;
    right:0vh;
    transform: translateX(100%);
    background: rgba(113, 113, 113, 0.56);
    padding: 1.5em .8em;
    border: 0;
    border-radius: 0 .25em .25em  0;
  }
  .hamburger {
    display: block;
    position: relative;
  }
  .hamburger,
  .hamburger::before,
  .hamburger::after {
    width: 2em;
    height: 3px;
    background: white;
    transition: transform 50ms ease-in-out, opacity 200ms linear;
  }
  .hamburger::before,
  .hamburger::after {
    content: '';
    position: absolute;
    left: 0;
  }
  
  .hamburger::before { bottom: 6px; }
  .hamburger::after { top: 6px;}
  
  
  /* Navigation open styles */
  
  .nav-open .nav {
    transform: translateX(0);
  }
  .nav-open .hamburger {
    transform: rotate(45deg);
  }
  .nav-open .hamburger::before {
    opacity: 0;
  }
  .nav-open .hamburger::after {
    transform: rotate(90deg) translate(-6px);
  }
  .about-home, .projects-home, .contact-home, .nav-home{
    /* border: 2px solid black;   */
   display: flex;
   font-family: var(--ff);
   letter-spacing: 3px;
   text-transform: uppercase;
   box-sizing: border-box;
   font-size: 2.8vh;
   font-weight: 500;
   color: white;
   writing-mode: vertical-rl;
   text-orientation: upright;
   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
   padding: 3.7vh;
}
.nav-home{
    align-items: center;
   justify-content: center;
   background: rgba(255, 255, 255, 0.1);
}
.about-home{
   align-items: center;
   justify-content: flex-start;
   padding-top: 15vh;
   background: rgba(113, 113, 113, 0.0);  
}
.projects-home{
   padding-top: 30vh;
   align-items: center;
   justify-content: center;
   background: rgba(255, 255, 255, 0.2);
}
.contact-home{
   align-items: center;
   justify-content: flex-end;
   padding-bottom: 5vh;
   background: rgba(255, 255, 255, 0.3);
}
.nav-sticky{
    position: fixed !important;
    z-index: 99999;
}




